@import "reset";

@mixin display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100vh;
    text-align: center;
    @include display;
    background-color: rgb(164, 165, 245);
    header{
        width: 100%;
        height: 15%;
        text-align: center;
        @include display;
        justify-content: center;
        background-color: rgb(30, 15, 248);
        position: absolute;
        h1{
            text-transform: uppercase;
            font-size: 6.5vw;
            color: white;
        }
    }
    form{
        width: 80%;
        height: auto;
        @include display;
        justify-content: space-around;
        background-color: rgb(151, 146, 146);
        box-shadow: 5px 5px 5px black;
        border-radius: 15px;
        position: relative;
        top : 12%;
        #first{
            width: auto;
            @include display;
            margin: 2% 0;
            option, select, #second{
            font-size: 3.5vw;
            } 
            #table{
                margin: 5% 0;
                border-radius: 15px;
                width: 120%;
                text-align: center;
                background-color: whitesmoke;
            }
            #voir{
                border-radius: 15px;
                text-transform: uppercase;
                margin: 5% 0;
                width: 60%;
                height: auto;
                background-color: whitesmoke;
                box-shadow: 2px 2px 2px black;
                font-size: 3.5vw;
                }
        }
        #second{
            margin: 3% 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}


